{% extends 'base.html.twig' %}

{% block title %}Informations utilisateur{% endblock %}

{% block body %}

<h1>Gestion des utilisateurs</h1>

<twig:BootstrapButton type="primary" link="{{ path('app_dashboard') }}" text="Retour à la liste" outlined/>

<div class="mt-5">

    <p>Modifier les rôles de {{ user.firstname }}</p>

    {# Si une erreur est présente, on affiche une alerte Bootstrap #}
    {% if formError %}
        <div class="alert alert-danger" role="alert">{{ formError }}</div>
    {% endif %}

    {# Formulaire "manuel" pour l'affectation des rôles #}
    <form method="POST" action="{{ path('app_user_roles', { id: user.id }) }}">

        <div class="form-check">
            <input type="checkbox" class="form-check-input" 
                {# On vérifie si le rôle est déjà affecté à l'utilisateur ou non #}
                {% if 'ROLE_ADMIN' in user.roles %} checked {% endif %}

                name="user-role-prof" id="user-role-prof" />

            <label class="form-check-label" for="user-role-prof">Administrateur</label>
        </div>

        {# Champ masqué pour le jeton CSRF - le nom "user_role" doit être le même que celui utilisé dans le contrôleur #}
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('user_role') }}">

        <button type="submit" class=" my-2 btn btn-primary ">Enregister</button>

    </form>

</div>

{% endblock %}